h1 {
    color: darkred;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

.rank-header {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.data:first-child {
  font-size: 18px;
  font-weight: bold;
}
